# --- Rust ---
/target

# --- Python ---
**/.venv/**
**/__pycache__/**
**/__pypy_cache__/**

# --- Other ---
positive_*_v*_*.zip
*.kra~
pmj_server_config.json
cargo-deny-result.txt

# secrets
secret/**
.secrets/**
