# --- Rust ---
/target

# --- Python ---
**/.venv/**
**/__pycache__/**
**/__pypy_cache__/**
**/.ruff_cache/**
**/.mypy_cache/**

# --- Other ---
positive_*_v*_*.zip
*.kra~
pmj_server_config.json
auto_generated/**
secret/**
.secrets/**
secure_files/**
.secure_files/**
website_build/**
