# --- Rust ---
/target

# --- Python ---
**/.venv/**
**/__pycache__/**
**/__pypy_cache__/**

# --- Website ---
website_build/**

# --- Other ---
positive_*_v*_*.zip
*.kra~
pmj_server_config.json

# secrets
secret/**
.secrets/**
