<!-- android_app/app/src/main/AndroidManifest.xml -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.positive_mahjong.tw0hank0">

    <application
        android:label="Positive Mahjong"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:icon="@mipmap/ic_launcher">
        
        <activity
            android:name="android.app.NativeActivity"
            android:label="Positive Mahjong"
            android:configChanges="orientation|keyboardHidden|screenSize">
            
            <!-- 這裡的 value 必須對應 Cargo.toml 中的 [lib] name -->
            <!-- 假設 Cargo.toml 設定 name = "positive_mahjong"，則此處為 positive_mahjong -->
            <meta-data
                android:name="android.app.lib_name"
                android:value="positive_mahjong" />
                
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>