:root {
    line-height: 10px;
    font-family: sans-serif;
    background-color: var(--background);
    color: var(--text-color);
    /* 變數 */
    --primary-color: cornflowerblue;
    --primary-text-color: steelblue;
    --secondary-color: lightgreen;
    --secondary-text-color: green;
    --background: black;
    --text-color: white;
    --text-size: 22px;
    --large-margin: 18px;
    --normal-margin: 12px;
    --normal-radius: 16px;
    --normal-padding: 10px;
    --small-radius: 6px;
    --small-margin: 6px;
    --image-radius: 6px;
    --code-radius: 3px;
    --code-color: gray;
    --color-gray: rgb(56, 56, 56);
    --dark-mode: true;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: white;
        --text-color: black;
        --dark-mode: false;
    }
}

@media (width >= 2160px) {
    :root {
        --text-size: 26px;
    }
}

@media (width < 1080px) {
    :root {
        --text-size: 20px;
    }
}

.project_name {
    line-height: 0.8;
}

.nav {
    background-color: var(--primary-color);
    line-height: 1.6;
    padding: var(--normal-padding);
    border-radius: var(--normal-radius);
    text-align: left;
    margin: var(--normal-margin);
    margin-top: 20px;
    .nav_item {
        margin: 7px;
        /*color: var(--primary-text-color);*/
        color: var(--text-color);
        text-decoration: none;
        font-size: 20px;
        text-align: center;
    }

    .nav_item:hover {
        color: var(--secondary-text-color);
        margin: 18px;
        font-size: 21.5px;
        transition-duration: 200ms;
        cursor: pointer;
    }
}
.title-bar {
    background-color: var(--color-gray);
    margin-left: var(--normal-margin);
    margin-right: var(--normal-margin);
    margin-top: calc(var(--large-margin) + 6px);
    margin-bottom: var(--large-margin);
    padding: 8px;
    padding-top: 5px;
    border-radius: var(--normal-radius);
    font-size: var(--text-size);
}

.badge {
    background-color: var(--secondary-color);
    border-radius: var(--normal-radius);
    margin: var(--normal-margin);
    padding: var(--normal-padding);
    img {
        max-width: 2048px;
        max-height: 2048px;
        border-radius: var(--image-radius);
    }
}

.content {
    background-color: var(--color-gray);
    margin-top: var(--large-margin);
    margin-bottom: var(--large-margin);
    margin-left: var(--normal-margin);
    margin-right: var(--normal-margin);
    padding: 14px;
    border-radius: var(--normal-radius);
    font-size: var(--text-size);
    a {
        text-decoration-color: var(--primary-color);
        color: var(--primary-color);
    }
}
.content-block-top {
    border-radius: var(--normal-radius) var(--normal-radius)
        var(--small-radius) var(--small-radius);
    margin-bottom: var(--small-margin);
}

.content-block-bottom {
    border-radius: var(--small-radius) var(--small-radius)
        var(--normal-radius) var(--normal-radius);
    margin-top: var(--small-margin);
}

.project-icon {
    max-width: 4096px;
    max-height: 4096px;
}

img {
    border-radius: var(--image-radius);
}

code {
    background-color: var(--code-color);
    border-radius: var(--code-radius);
    font-family: monospace;
}

.logo-text {
    vertical-align: middle;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black;  Add dots under the hoverable text */
}

/* Tooltip text */
.tooltiptext {
    font-size: 14px;
    visibility: hidden; /* Hidden by default */
    min-width: 200px;
    max-width: 20dvw;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 7px 0;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 6px;
    position: absolute;
    z-index: 1; /* Ensure tooltip is displayed above content */
    bottom: 100%;
    left: 50%;
    margin-left: -100px; /* Use half of the width (200/2 = 100), to center the tooltip */
}

/* Show the tooltip text on hover */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.text-block {
    max-height: max(40dvh, 550px);
    min-height: 600px;
    line-height: 30px;
    overflow-y: scroll;
    white-space: pre;
}
