:root {
    line-height: 1;
    font-family: sans-serif;
    background-color: var(--background);
    color: var(--text-color);
    /* 變數 */
    --primary-color: cornflowerblue;
    --primary-text-color: steelblue;
    --secondary-color: lightgreen;
    --secondary-text-color: green;
    --background: black;
    --text-color: white;
    --text-size: 22px;
    --normal-margin: 10px;
    --normal-radius: 12px;
    --normal-padding: 10px;
    --image-radius: 6px;
    --code-radius: 3px;
    --code-color: gray;
    --color-gray: rgb(56, 56, 56);
    --dark-mode: true;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: black;
        --text-color: white;
        --dark-mode: true;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background: white;
        --text-color: black;
        --dark-mode: false;
    }
}

.project_name {
    line-height: 0.8;
}

.nav {
    background-color: var(--primary-color);
    line-height: 1.6;
    padding: var(--normal-padding);
    border-radius: var(--normal-radius);
    justify-content: left;
    text-align: left;
    margin: var(--normal-margin);
    .nav_item {
        margin: 7px;
        /*color: var(--primary-text-color);*/
        color: var(--text-color);
        text-decoration: none;
        font-size: 20px;
        text-align: center;
    }

    .nav_item:hover {
        color: var(--secondary-text-color);
        margin: 18px;
        font-size: 21.5px;
        transition-duration: 200ms;
    }
}
.title-bar {
    background-color: var(--color-gray);
    margin: var(--normal-margin);
    padding: 8px;
    padding-top: 5px;
    border-radius: var(--normal-radius);
    font-size: var(--text-size);
}

.badge {
    background-color: var(--secondary-color);
    border-radius: var(--normal-radius);
    margin: var(--normal-margin);
    padding: var(--normal-padding);
    img {
        max-width: 2048px;
        max-height: 2048px;
        border-radius: var(--image-radius);
    }
}

.content {
    background-color: var(--color-gray);
    margin: var(--normal-margin);
    padding: 14px;
    border-radius: var(--normal-radius);
    font-size: var(--text-size);
}

.project-icon {
    max-width: 4096px;
    max-height: 4096px;
}

img {
    border-radius: var(--image-radius);
}

code {
    background-color: var(--code-color);
    border-radius: var(--code-radius);
    font-family:Courier, monospace;
}

.logo-text {
    vertical-align:middle;
}
